{% extends 'adminss/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-6" style="margin-top: 18%;">
            <h2>Quick & Easy Credit+Card</h2>
            <p style="padding-top: 5%;">Get loans and credit on Platinum RedCarpet Card for anything you want.</p>
            <p style="padding-top: 3%;">RedCarpet Card is pre-enabled for ATM / POS / Online Txn.Buy Now. Pay Later.</p>
            <a href=""><button class="btn btn-primary">Learn More</button></a>
            <img src="{% static 'adminss/images/playstore.png' %}" style="padding-left: 4%;" height="70px" width="200px">
                
        </div>
        <div class="col-sm-6" style="margin-top: 5%;">
            <img src="{% static 'adminss/images/red1.png' %}" height="530px" width="420px">
        </div>
    </div>
</div>

<div class="container mt-5">
    <h6 class="text-center mt-4">What You Get</h6>
    <h2 class="text-center pt-3">Meet the RedCarpet app</h2>
    <div class="container mt-5">
        <div class="row">

            <div class="col-lg-4" >
                <img src="{% static 'adminss/images/nopaper.svg' %}" style="margin-left: 25%;" >
                <h5 style="margin-left: 22%;padding-top: 20px;">No Paperwork</h5>
                <p style="margin-left: 8%; padding-top: 20px;">Papers? Nahh. Environment comes First</p>
            </div>

            <div class="col-lg-4">
                <img src="{% static 'adminss/images/reload.svg' %}" style="margin-left: 25%;">
                <h5 style="margin-left: 22%;padding-top: 20px;">Easy Reload</h5>
                <p style="margin-left: 8%; padding-top: 20px;">Exhausted the limit? Get a card Reload instantly on our App.</p>
            </div>

            <div class="col-lg-4">
                <img src="{% static 'adminss/images/atmoney.svg' %}" style="margin-left: 25%;">
                <h5 style="margin-left: 22%;padding-top: 20px;">Any time Money</h5>
                <p style="margin-left: 8%; padding-top: 20px;">Need Cash? With RedCarpet Card, you can withdraw cash from any ATM, any time!</p>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6" style="margin-top: 18%;">
            <h2>RedCarpet's Exclusive Ruby Card</h2>
            <p style="padding-top: 5%;">With RedCarpet Ruby Card you have control over your funds like never before. 
                Ordering food or booking movie tickets from an app or website? Just enter the details and your OTP.
                 Safe. Easy. Secure!
            </p>
        </div>

        <div class="col-sm-6" style="margin-top: 12%;">
            <img src="{% static 'adminss/images/ruby_card.png' %}" style="padding-left: 4%;" height="400px" width="500px">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">

        <div class="col-sm-6" style="margin-top: 12%;">
            <img src="{% static 'adminss/images/honest_design.png' %}" style="padding-left: 4%;" height="480px" width="600px">
        </div>

        <div class="col-sm-6" style="margin-top: 22%;">
            <h2>Designed For Honesty</h2>
            <p style="padding-top: 5%;">At RedCarpet, your privacy and data is what matters to us the most. 
                Our product is built around the policy of honesty. We first state the reason and then ask for
                 permission and data.
            </p>
            <p style="padding-top: 5%;">We also make sure that all of your data is stored in Indian Data Center with 
                industry leading security mechanisms to keep it safe and sound!
            </p>
        </div>
        
    </div>
</div>

<div class="container mt-5">
    <h6 class="text-center">PRODUCT SHOWCASE</h6>
    <h2 class="text-center">One Stop App to Control Your Card</h2>

    <div class="row">
        <div class="col-lg-4">
            
        </div>

        <div class="col-lg-4">
            <img src="{% static 'adminss/images/Card_Bill.png' %}" height="500px">
        </div>

        <div class="col-lg-4">
            
        </div>
    </div>
</div>





{% endblock content %}