{% extends 'adminss/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block content %}

<div class="container mt-4" >
    <img src="{% static 'adminss\images\lmsimage.jpg' %}" height="200px" width="300px"  style="box-shadow: 5px 5px 5px grey; margin-left:33%;">

    <div class="row mt-4">

        <div class="col-lg-4">
            <img src="{% static 'adminss\images\admin.png' %}" height="100px" width="100px" style="box-shadow: 5px 5px 5px grey; margin-left:25%; display: block;">
            <a href="{% url 'adminregistration' %}"><button class="btn btn-primary mt-3" style="margin-left: 22%; display: block;">Admin Signup</button></a>
            <a href="{% url 'login' %}"><span class="mt-2" style="margin-left: 22%;">I Have an Account</span></a>
        </div>
        <div class="col-lg-4">
            <img src="{% static 'adminss\images\agent.png' %}" height="100px" width="100px" style="box-shadow: 5px 5px 5px grey; margin-left:25%;">
            <a href="{% url 'agentregistration' %}"><button class="btn btn-primary mt-3" style="margin-left: 22%; display: block;">Agent Signup</button></a>
            <a href="{% url 'login' %}"><span class="mt-2" style="margin-left: 22%;">I Have an Account</span></a>
        </div>
        <div class="col-lg-4">
            <img src="{% static 'adminss\images\customer.png' %}" height="100px" width="100px" style="box-shadow: 5px 5px 5px grey; margin-left:25%;">
            <a href="{% url 'customerregistration' %}"><button class="btn btn-primary mt-3" style="margin-left: 22%; display: block;">Customer Signup</button></a>
            <a href="{% url 'login' %}"><span class="mt-2" style="margin-left: 22%;">I Have an Account</span></a>
        </div>
    </div>
</div>


{% endblock content %}